.welcome {
  &__container {
    @include container;
    @include flex;
    min-height: 100dvh;
  }

  &__img {
    width: 100%;
    height: auto;
    max-height: 30rem;
  }

  &__message {
    margin-top: 4rem;
    text-align: center;

    p {
      margin-top: 1rem;
    }
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 50rem;
    margin-top: 3rem;
  }

  &__link {
    display: block;
    font-size: 1.6rem;
  }

  &__btn {
    @include main-button($color--btn-yellow);
    padding-inline: 0;

    &--sign-in {
      background-color: $color--white;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
  }
}
