.nav {
  &__container {
    @include container;
    max-width: unset;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left,
    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }

    &-right {
      gap: 1rem;
    }
  }

  &__heading {
    display: none;
    color: $color--secondary;
  }

  &__notification-container {
    opacity: 0.7;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
    &:has(.nav__notification--unread) {
      opacity: 1;
    }
  }

  &__notification {
    &--unread {
      font-weight: 700;
    }
  }

  &__logout {
    @include flex;
    flex-grow: 1;
    font-size: 1.4rem;
    color: inherit;
  }
}

@include media('>=screen-xs') {
  .nav {
    &__container {
      justify-content: space-between;

      &-right,
      &-left {
        gap: 3rem;
      }
    }
  }
}

@include media('>=screen-md') {
  .nav {
    &__mobile {
      display: none;
    }

    &__container {
      min-height: 7.6rem;
    }
  }
}

@keyframes shine {
  100% {
    left: 75%;
  }
}
