$color--primary: #bde0fe;
$color--primary-light: #edf6f9;
$color--primary-dark: #3fa7d6;
$color--secondary: #023047;
$color--secondary-light: #0575ae;
$color--secondary-dark: #012435;
$color--info: #8338ec;
$color--btn-yellow: #ffbe0bb3;
$color--black-body: #000814;
$color--dark-body: #22223b;
$color--grey-body: #e5e5e5;
$color--white: #fff;
